@use "./function" as fn;

// css変数
:root {
  // color
  --color-primary: #fff;
  --color-secondary: #eee;
  --color-text: #333;

  // font-family
  --ff-main: "Zen Maru Gothic", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  --ff-eg: "Montserrat", sans-serif;

  // layout
  --inner-s: 34.375rem;   //550px
  --inner-l: 50rem;       //800px
  --inner-xl: 67.5rem;    //1080px

  // padding
  --padding-s: 1.25rem;
  --padding: 1.25rem;

  // header height
  --header-pc: 6.625rem;
  --header-sp: 6rem;

  // ease-time
  --ease-time: 0.3s;
  // ease-type
  --ease-type: ease;

  // breakpoint
  --break-xxl: 1399.98px;   //1399.98px
  --break-xl: 1079.98px;    //1079.98px
  --break-l: 991.98px;     //991.98px
  --break-m: 767.98px;     //767.98px
  --break-s: 575.98px;     //575.98px
}

// breakpoint
$breakpoints : (
  //PCファーストのキー値
  's': '(width <= 575.98px)',
  'm': ' (width <= 767.98px)',
  'l': '(width <= 991.98px)',
  'xl': '(width <= #{$m-inner - 0.02px})',
  'xxl': '(width <= 1399.98px)',
  //SPファーストのキー値
  // "xxl":"screen and (width >= 1400px)",
  // "xl":"screen and (width >= #{$l-inner})",
  // "l":"screen and (width >= 992px)",
  // "m":"screen and (width >= 768px)",
  // "s":"screen and (width >= 576px)",
);

// transition time
$ts-time: 0.3s;

// z-index
$z-map : (loading: 10000,
  header: 1000,
  sidebar: 100,
  base: 1,
  under: -1,
);